.wideParrent {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.Input {
  width: 100%;
  height: 4.8rem;
  text-indent: 1.6rem;
  border: 1px solid #bcbcbc;
  border-radius: 0.4rem;
}
.Input:focus {
  outline: none;
}
.ErrorInput:focus {
  outline: none;
}
.CorrectCheck {
  position: absolute;
  top: 40px;
  right: 14.75px;
  width: 18.5px;
  height: auto;
}
.WrongCheck {
  position: absolute;
  top: 40px;
  right: -26.75px;
  width: 18.5px;
  height: auto;
}
.Hidden {
  position: absolute;
  top: 40px;
  right: -26.75px;
  width: 18.5px;
  height: auto;
  opacity: 0;
}
.CorrectInput {
  width: 100%;
  height: 4.8rem;
  text-indent: 1.6rem;
  border: 1px solid #98e37e;
  border-radius: 0.4rem;
}
.CorrectInput:focus {
  outline: none;
}
.ErrorInput {
  width: 100%;
  height: 4.8rem;
  text-indent: 1.6rem;
  border: 1px solid #ef5050;
  border-radius: 0.4rem;
}

.Label {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000000;
}
.Hint {
  font-size: 1.4rem;
  color: #2e2e2e;
  font-weight: 300;
}
