.Name {
  color: #f93b1d;
  font-style: normal;
  font-weight: 700;
  font-size: 3.4rem;
}
.ContactsParrent {
  margin-top: 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.Contact {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.AboutMeParrent {
  margin-top: 3.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
.AboutMeParrent > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #f93b1d;
}
.AboutMeParrent > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  text-transform: lowercase;

  color: #000000;
}
.Border {
  margin-top: 1.9rem;
  content: "";
  border: 1px solid #c8c8c8;
}
.Heading {
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
}

.Heading > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #f93b1d;
  margin-bottom: 1.5rem;
}
.Heading > p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #1a1a1a;
  margin-bottom: 0.7rem;
}
.Date {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 1.6rem;

  color: #919191;
}
.Description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  text-transform: capitalize;

  color: #000000;
}
.img {
  width: 246px;
  height: 246px;
  border-radius: 50%;
}
.CredantialsAndImgParrent {
  display: flex;
  justify-content: space-between;
}
.ResumeIcons {
  width: 16px;
  height: 16px;
  margin-right: 1.2rem;
}
.Resume {
  padding: 4.2rem;
  margin-top: 6.2rem;
  width: 80rem;
  border: 0.8px solid #000000;
  max-height: 800px;
  overflow-y: scroll;
}
.congrats {
  position: absolute;
  width: 427px;
  height: 167px;
  left: 1423px;
  top: 53px;
  display: flex;
  align-items: center;

  background: #ffffff;
  border: 1px solid #e4e4e4;
  box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
@keyframes myAnim {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
.congrats {
  animation: myAnim 5s ease 0s 1 normal forwards;
}
.congrats > h2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 43px;
  /* or 154% */

  /* off black */
  text-align: center;
  color: #1a1a1a;
}

.navIcon {
  width: 9.21px;
  height: 16px;
  position: absolute;
  top: 70px;
  left: 100px;
}
.navIcon:hover {
  cursor: pointer;
}
