.EducationInformation {
  max-width: 160rem;
  margin: 0 auto;
}
.EducationInformation {
  max-width: 160rem;
  margin: 0 auto;
}
.EducationIformationContainer {
  margin-top: 4.5rem;
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  gap: 14.2rem;
}

.Form {
  display: flex;
  flex-direction: column;
  gap: 5.4rem;
}



.StartAndEndDateParrent {
  display: flex;
  justify-content: space-between;
}


.Border {
  content: "";
  border: 1px solid #c1c1c1;
}
.AdditionalExperiance {
  border: none;
  width: 28.9rem;
  height: 4.8rem;
  background: #62a1eb;
  border-radius: 4px;
  font-weight: 400;
  font-size: 1.4rem;
  color: #ffffff;
}
.AdditionalExperiance:hover {
  cursor: pointer;
  background-color: #72aaed;
}
.AdditionalExperiance:active {
  background-color: #5891d4;
}
.NavButtonsParrent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.NavButtons {
  width: 11.3rem;
  height: 4.8rem;
  color: white;
  background: #6b40e3;
  border-radius: 4px;
  border: none;

  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 0.08em;
  color: #ffffff;
}
